# OS X
.DS*

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode*
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
profile
*.moved-aside
DerivedData
*.hmap
*.ipa
**/*.xcodeproj/*.mode*
**/*.xcodeproj/*.pbxuser
**/*.xcodeproj/*.xcworkspace
**/*.xcodeproj/xcuserdata

# Bundler
.bundle

# Fastlane
fastlane/report.xml
fastlane/test_output/report.html
fastlane/test_output/report.junit

# SPM
.swiftpm/*

